.parent-div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: 3px solid #018B97;
    margin: 30px;
    border-radius: 10px;
  
  }
  
  .left-div{
    border-right: 3px solid #018B97 ;
    margin: 30px 0;
  }
  .right-div{
    text-align: center;
  }
  .form-div{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  
  
  }
   input{
    width: 95%;
    border: 2px solid #018B97;
    margin: 10px;
    line-height: 30px;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    padding: 2px;
  }
  .error-div{
    display: flex;
    justify-content: center;
  
  }
  .error-message{
    color: red;
    
  }