@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
.google-fonts{
  font-family: 'Alfa Slab One', cursive;
  font-size:xx-large;
 
  
}
.slider-p{
    margin-bottom: 120px;
    font-weight: 800;
    color: rgb(0, 255, 149);
    font-size: larger;
    

}